{% extends "base_generic.html" %}

{% block content %}
  <h1 class="home-title">Local Kino Resource</h1>
  <p>Welcome to Kino, a website developed by <em>Bri, raul</em>!</p>
  <p>The Kino manager has the following record counts:</p>
  <div class="films-container">
    {% for film in films %}
    <div class="film-container">
      <h1 class="film-title"> {{ film.title }} ({{ film.year }})</h1>
        <a href="film/{{ film.pk }}">
        <img class="film-poster" src="{{ film.poster }}">
        </a>

    </div>
  {% endfor %}
  </div>

{% endblock %}