body {
    background-color: #17130e;
    color: #faf3eb;
}
a {
    color: #d0b37f;
}

a:hover {
    color: #d58f0d;
}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.login-form {
    padding-top: 20px;
}

.brown-btn {
    background-color: #2d271e;
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 7px;
    font-size: 14px;
    padding: 5px 15px;
}
.brown-btn:hover {
    background-color: #493d27;
    cursor: pointer;
}

.films-container {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-row-gap: 1.66%;
    grid-column-gap: 1.66%;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
@media only screen and (max-width: 1350px) {
  .films-container {
    grid-template-columns: 26.66% 26.66% 26.67%;
  }
}
@media only screen and (max-width: 750px) {
  .films-container {
    grid-template-columns: 40% 40%;
  }
}

.film-title {
    text-align: center;
    font-size: 26px;
}
.film-year {
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    margin: -5px 0 0 0;
}

.genre-text, .description-text {
    text-align: center;
    max-width: 220px;
    align-self: center;
}

.film-poster {
    width: 240px;
    height: 380px;
    border-radius: 15px;
    padding: 10px;
    object-fit: cover;
    vertical-align: middle;

    float: left;
}
@media only screen and (max-width: 1350px) {
  .film-poster {
    width: 180px;
    height: 290px;
  }
}


.film-container, .film-container-watchlist  {
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 10px;
    color: #faf3eb;
    font-weight: 500;
    background-color: #2d271e;
    align-items: center;
}
.film-container {
    justify-content: flex-start;
}
.film-container-watchlist {
    justify-content: space-between;
}

.film-container:hover {
    background-color: #493d27;
}

.film-detail-container {
    width: 100%;
    display: flex;
}
.left-half-container {
    width: 40%;
    max-width: 50%;
}
.right-half-container {
    width: 50%;
    padding-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.film-detail-poster {
    width: 90%;
    margin-top: 20px;
    border-radius: 30px;
    border: solid 1px #fafafa;
}

.film-detail-genre-text, .film-detail-description-text {
    text-align: center;
    max-width: 400px;
    align-self: center;
}


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    text-align: center;
}
.rate:not(:checked) > div > .rate-input  {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > div > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > div > label:before {
    content: '★ ';
}
.rate > div > input:checked ~ label {
    color: #c7b015;
}
.rate:not(:checked) > div > label:hover,
.rate:not(:checked) > div > label:hover ~ label {
    color: #726609;
}
.rate > div > input:checked + label:hover,
.rate > div > input:checked + label:hover ~ label,
.rate > div > input:checked ~ label:hover,
.rate > div > input:checked ~ label:hover ~ label,
.rate > div > label:hover ~ input:checked ~ label {
    color: #726609;
}

.submit-rating {
    align-self: center;
}

.add-film-watchlist-form {
    margin-top: 100px;
}
.home-title{
    margin-top: 12px;
}
.watchlist-title{
    margin-top: 12px;
}
.no-watchlists-container{
    display: flex;
}
.no-watchlists-text{
    align-self: center;
}
.add-button {
    margin-left: 10px;
    margin-right: 5px;
    padding-bottom: 5px;
    width: 30px;
}
.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}
.edit-button, .delete-button {
    width: 30px;
    margin-left: 20px;
}
.edit-button:hover, .delete-button:hover, .delete-film-button:hover {
    opacity: 0.5;
}
.options-container {
    display: flex;
    margin-top: 10px;
}
.edit-watchlist-name{
    margin-top: 32px;
}
.delete-film-form{
    margin-top: 10px;
    align-self: center;
}
.delete-film-button {
    width: 23px;
}
.empty-watchlist-message {
    width: 500px;
}
