{% extends "base_generic.html" %}

{% load static %}
{% block content %}
  <h1 class="watchlist-title">Watchlists</h1>
  {% if object_list  %}
  <ul>
    {% for watchlist in object_list  %}
      <li>
        <a href="{{ watchlist.pk }}">{{ watchlist.list_name }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
      <p class="no-watchlists-text">You have not created any watchlists yet. Create one here:</p>
  {% endif %}

  <form action="/watchlists/" method="post">
    {% csrf_token %}
    <img class="add-button" src="{% static 'film.png' %}">
    <input id="watchlist_name" type="text" name="name_field" placeholder="New Watchlist">
    <input class="brown-btn" type="submit" value="Create">
  </form>
{% endblock %}
